@model Vidly.Models.Movie

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null)
{
    <h2>@Model.Name <span>@Html.ActionLink("Edit movie", "Edit", "Movies", new { id = Model.Id }, new { @class = "badge badge-info" })</span></h2>
    
    <ul>
        <li>Release date: @Model.ReleaseDate.ToShortDateString()</li>
        <li>Date added: @Model.DateAdded.ToShortDateString()</li>
        <li>Number in stock: @Model.NumberInStock</li>
        <li>Genre: @Model.Genre.GenreType</li>
    </ul>

}
else
{
    <h2>Movie not found</h2>
}

